
.div_createGroup {
    border: 2px solid #7168D1;
    border-radius: 5px;
    display: table-cell;
    text-align: left;
    /* vertical-align: middle; */
    background-color: #F7F8FA;
    width: 500px;
    display:block;
    margin: auto;
 }
 #createGroup{
     text-align: center;
 }
 .form_createGroup{
    padding: 30px 30px 30px 30px;
 }